body {
    background-color: rgb(112, 13, 112);
    text-align: center;
}

h1 {
    color: white;
}

#button {
    border: 5px solid rgb(75, 4, 75);
    border-radius: 10px;
    background-color: purple;
    padding: 20px;
    display: inline-block;
    width: 200px;
    margin: 0 auto;
}

#ricardo {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
}